<section style="padding-top: 10rem; text-align: center;">
  <div fxLayout="column" class="proj--land-description">
    <h1>MY PROJECTS</h1>
    <h2>Here you will find the pages of my projects or practices.</h2>
  </div>
  <section style="padding-left: 5rem; padding-right: 5rem;" class="proj--land-project-list">
    <mat-card class="proj--list-card" (click)="printSomething()">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" />
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
  </section>
</section>